


<div class="container-fluid" >
<div class="row" style="padding-bottom:5%">
  <div class="col-2"></div>
    <div class="col-8">
      <h2 class="h1-responsive font-weight-bold text-center my-5">How can you help?</h2>
      <!-- Section description -->
      <p class="lead grey-text text-center w-responsive mx-auto mb-5">Even a small amount of your time and effort can make a large difference. You can help and support in various ways.</p>
    </div>
    <div class="col-2"></div>
</div>
</div>

<div class="conatainer" id="donate">

    <%= render template: "pages/donate" %>

</div>

<h2 class="h2-responsive font-weight-bold text-center my-5" style="padding-top:3%">Some Other Ways to Help...</h2>

<div class="container" style="padding-top:1%">
<div class="row" >




  <div class="container" style="padding-top:1%">
    <div class="row">

      <div class="col" style="padding-bottom:10%" id="volunteer">
        <div class="card" style="border-radius: 5%">
          <div class="card-body text-center" style="height: 330px;">
            <i class="fas fa-user-tie image" style="border-radius:50%;margin:auto;padding:5%;font-size: 400%;"></i>
            <!-- <img src="https://picsum.photos/200/200" class="img" alt="No Image"
              style="border-radius:50%;margin:auto;padding:5%" /> -->
            <h4 class="card-title"> Volunteer</h4>
            <p class="card-text">Join us hand in hand and make an impact. Get in touch to become a volunteer</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" style="width: 100%;">More
              Information</a>
          </div>
        </div>
      </div>



      <div class="col" style="padding-bottom:10%" id="partnership">
        <div class="card" style="border-radius: 5%">
          <div class="card-body text-center" style="height: 330px;">
            <i class="far fa-handshake image" style="border-radius:50%;margin:auto;padding:5%;font-size: 400%;"></i>
            <h4 class="card-title"> Partnerships</h4>
            <p class="card-text">If you share the same vision as us, please contact and collaborate with us.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" style="width: 100%;">More
              Information</a>
          </div>
        </div>
      </div>

    </div>



    <div class="row">

      <div class="col" style="padding-bottom:10%" id="intern">
        <div class="card" style="border-radius: 5%">
          <div class="card-body text-center" style="height: 330px;">
            <i class="fas fa-graduation-cap image" style="border-radius:50%;margin:auto;padding:5%;font-size: 400%;"></i>
            <h4 class="card-title"> Internships</h4>
            <p class="card-text">We are running programs, where you can apply as an Intern. Reach out to us for more
              information.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter"  style="width: 100%;">More
              Information</a>
          </div>
        </div>
      </div>

      <div class="col" style="padding-bottom:10%" id="vv">
        <div class="card" style="border-radius: 5%">
          <div class="card-body text-center" style="height: 330px;">
            <i class="fas fa-desktop image" style="border-radius:50%;margin:auto;padding:5%;font-size: 400%;"></i>
            <h4 class="card-title">Virtual Volunteer</h4>
            <p class="card-text">We understand being physically present is not always possible, but that does not
              restrict you to make an impact. You can still support and make your contribution to the cause virtually.
            </p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" style="width: 100%;">More
              Information</a>
          </div>
        </div>
      </div>

    </div>

  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">More Information</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Reach out to us for more information.</p>
          <p><a href="mailto: aasrafoundationjaipur@gmail.com"><i class="fas fa-envelope" style="color: #CF776F; padding-right: 10px;"></i>Aasra Foundation Mail</a></p>
          <p><a href="tel:+91-9660573866"><i class="fas fa-id-badge"  style="color: dodgerblue; padding-right: 10px;"></i>Vivek Sharma (+91-9660573866)</a></p>
          <p><a href="https://www.facebook.com/aasrafoundationjaipur16/"><i class="fab fa-facebook-square" style="color: #3D5A99;  padding-right: 10px;"></i>Aasra Foundation Facebook Page</a></p>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


