html {
    scroll-behavior: smooth;
}

.dot {
    height: 13rem;
    width: 13rem;
    background-color: #f7f7f7;
    border-radius: 50%;
    border: 5px solid #D9D9D9;
    display: inline-block;
    }
  .bg-dark {
    background-color: #D9D9D9 !important;
  }

  .nav-link{
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }

  .active{
    background-color: #2f2f2f !important;
    
    font-size: 20px;
  }



  /* donate us page */

  .toggle-button {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: auto;
    cursor: pointer;
    padding: 10px;
      border: 1px solid #007bff;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: Poppins;
    color: #2f2f2f;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #ffffff;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  }

  .button-active,.toggle-button:hover {
    border: 1px solid #ffffff;
    background: #6ddb36;
  }


  .payment-block {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: auto;
    margin-bottom: 5%;
    overflow: hidden;
    border: none;
    color: #2f2f2f;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: Poppins;
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: #e6ecef;
    -webkit-box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.3) ;
    box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.3) ;
  }


.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}

.sticky-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

.slideshow-image{
  width: 100% !important;
height: 45vw !important;
}

.navbar-logo{
  height: 100px;
  width: 100px;
}

.card-text{
  font-size: 110% !important;
}

.dropdown-menu{
    background-color: #a5a5a5;
}

.dropdown-item{

    font-size: 110% !important;
}

.dropdown-item :hover {
    color: #000 !important;
    background-color: #a5a5a5;
}

@media screen and (max-width: 425px) {
    .slideshow-image{
        height: 50vw !important;
    }
}

@media screen and (max-width: 2560px) {
    .form-area {
        width: 75% !important;
        margin: auto !important;
    }
}

@media screen and (max-width: 1300px) {
    .form-area {
        width: 100% !important;
        margin: auto !important;
    }
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

.dropdown-menu{
    margin-left: 60%;
}

.dropdown-toggle{
    box-shadow: none;
    padding-top: 8px;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    cursor: pointer;
}

.dropdown-toggle :hover{
    box-shadow: none !important;
    color: #6ddb36 !important;
}

@media screen and (max-width: 991px) {
    .navbar-brand{
        height: 3em !important;
        width: 3em !important;
    }
    .dropdown-menu{
        margin-left: 0% !important;
    }
}


.show{
    display: block;
}

.hide{
    display: none;
}

.mobile-photos{
    padding-top:10px;
    height:400px;
    width: auto !important;

}

element.style {
    width: 350px !important;
}
.button-active,
.toggle-button:hover{
    background: #007bff;
}
.btn-pad{
    border: 1px solid #007bff;
}
.pad {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
/* Desktop View */
@media screen and (max-width : 2560px) {
    .mobile {
        display: none;
    }
    .laptop {
        display: show;
    }
}

/* Laptop View */
@media screen and (max-width : 1025px) {
    .btn-pad {
        width: 200px !important;
    }
    .width {
        width: 670px !important;
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
}

/* Tablet View */
@media screen and (max-width : 768px) {
    .laptop {
        display : none;
    }
    .mobile {
        display: block !important;
    }
    .photos{
        width: 679px;
        margin-left: 100%;
    }
}

/* Mobile -L view */
@media screen and (max-width : 426px) {
    .laptop {
        display : none;
    }
    .mobile {
        display: block !important;
    }
    .photos{
        width: 354px;
        margin-left: 40%;
    }
}

/* Mobile -M view */
@media screen and (max-width : 380px) {
    .laptop {
        display : none;
    }
    .mobile {
        display: block !important;
    }
    .photos{
        width: 306px;
        margin-left: 10%;
    }
}

/* Mobile -S view */
@media screen and (max-width : 321px) {
    .laptop {
        display : none;
    }
    .mobile {
        display: block !important;
    }
    .photos{
        width: 254px;
    }
}


.slideshow-image{
    width: 100% !important;
    height: auto !important;
}

@media screen and (max-width: 425px) {
    .slideshow-image{
        height: 300px !important;
    }
}


.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

.project-image{
    margin: auto;
    margin-top: 3%;
    border-radius: 10px 10px;
}

.mission-text{
    padding-top: 20px;
}

.pro-text-field{
    padding-bottom: 1%;
}