

<div class="card text-center">
  <div class="card-header" style="background-color: #F7F7F7;padding: 20px;text-align: center">
    AASRAFOUNDATION.COM
  </div>
  <div class="card-body">
    <h3 class="card-title" style="text-align: center">Reset Password?</h3>
    <strong class="card-text" style="text-align: center">Hello <%= @resource.email %>!</strong><br/><br/>

    <p class="text-center">Someone has requested a link to change your password. You can do this through the link below.</p>
    <p>If you didn't request this, please ignore this email.</p>
    <p>Your password won't change until you access the link Below` and create a new one</p>
    <button style="background-color: #0169DB;border: none;padding: 10px;border: 1px solid #0169DB;border-radius: 5px;margin-left:auto "><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), class: 'btn btn-primary' %></button>

  </div>

</div>