<!-- Footer Area Start -->
<!-- Footer -->
<footer class="page-footer font-small bg-dark" id="footer">

<!-- Footer Elements -->
<div class="container">

  <!-- Grid row-->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-12 py-5">
      <div class="mb-4 flex-center">

        <!-- Facebook -->
        <a class="fb-ic" href="https://www.facebook.com/aasrafoundationjaipur16" target="_blank">
          <i class="fab fa-facebook-f fa-lg black-text mr-md-5 mr-3 fa-2x"> </i>
        </a>
        <!--Instagram-->
        <a class="ins-ic" href="https://www.instagram.com/aasrafoundationjaipur/" target="_blank">
          <i class="fab fa-instagram fa-lg black-text mr-md-5 mr-3 fa-2x"> </i>
        </a>
        <!--LinkedIn-->
        <a class="ins-ic" href="https://www.linkedin.com/company/aasrafoundationjaipur" target="_blank">
          <i class="fab fa-linkedin-in fa-lg black-text mr-md-5 mr-3 fa-2x"></i>
        </a>
        <!-- Twitter -->
        <a class="tw-ic" href="https://twitter.com/aasrafound_jpr" target="_blank">
          <i class="fab fa-twitter fa-lg black-text mr-md-5 mr-3 fa-2x"> </i>
        </a>
        <!-- Whatsapp-->
        <a class="gplus-ic" href="https://wa.me/917014015902" target="_blank">
          <i class="fab fa-whatsapp fa-lg black-text mr-md-5 mr-3 fa-2x"></i>
        </a>
      </div>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row-->

</div>
<!-- Footer Elements -->

<!-- Copyright -->
<div class="footer-copyright text-center black-text py-3">© 2019 Copyright:
  <a href="http://www.theaasrafoundation.org/" class="black-text"> WWW.THEAASRAFOUNDATION.ORG</a>
</div>
<!-- Copyright -->

</footer>

<script>
var stick;
if(stick)
  {
    document.getElementById('footer').classList.add('sticky-bottom')
  }
else {
  document.getElementById('footer').classList.remove('sticky-bottom')
}

</script>
